body {    
    display: block;
    top: 0;
    left: 0;
    min-width: 240pt;
}

.main-wrapper {
    
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #e0f2f1;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.header, .footer {
    background-color: #2196f3;
    text-align: center;
}

.header {
    border-radius: 7px 7px 0 0;
}

.footer {
    border-radius: 0 0 7px 7px;
    clear: both;
}

.choose-news-theme {
    margin-left: 10px;
}

.select-theme-wrapper {
    margin-bottom: 10px;
}

.article {
    display: block;
    /* clear: both; */
    min-height: 200px;
    padding-bottom: 25px;
}

.article-image {
    height: 144px;
    width: 256px;
    margin-right: 10px;
}

.article-teaser {
    display: flex;
    flex-direction: row;
    color: black;
}

.article-url {
    text-decoration: none;
}

@media (max-width:360pt){
    .article-teaser {
        flex-direction: column;
    }
}