body {    
    display: block;
    top: 0;
    left: 0;
    min-width: 640px;
}

.main-wrapper {
    background-color: #e0f2f1;
    max-width: 1200px;
    margin: 0 auto;
}

.header, .footer {
    background-color: #2196f3;
    text-align: center;
}

.header {
    border-radius: 7px 7px 0 0;
}

.footer {
    border-radius: 0 0 7px 7px;
}

.choose-news-theme {
    margin-left: 10px;
}