{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "ie": "11",
            "chrome": "68"
          }
        }
      ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
      ]
  }